* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: tan;
}

html {
  font-family: "Source Sans Pro", sans-serif;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

#logo {
  float: left;
}

.navbar {
  width: 100%;
  background-color: #222;
}

.menu {
  float: left;
  margin: 0;
  padding: 0;
  height: 60px;
}

.menu ul {
  margin: 0;
}

.menu li {
  display: inline-block;
  color: white;
  padding: 21px 5px 21px 5px;
  font-size: 18px;
}

.menu li:hover {
  background-color: #D08323;
}

.search-group {
  position: relative;
  float: right;
}

.search-group .fa-search {
  color: grey;
  position: absolute;
  font-size: 1.3em;
  top: 20px;
  left: 145px;
}

#search {
  background: #EEE;
  border: 1px solid #CCC;
  border-radius: 50px;
  box-shadow: none;
  margin-top: 15px;
  font-size: 100%;
  max-width: 242px;
  height: 30px;
}

#avatar {
  float: right;
  height: 60px;
  width: 60px;
  margin: 0 10px 0 5px;
}

.page-wrap {
  margin: 140px 5% 100px 5%;
  max-width: 1500px;
}

.main-column {
  float: left;
  width: 65%;
}

.date {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 2px;
  display: block;
  color: #777;
  margin-bottom: -25px;
}

.article-card {
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 10%;
  font-family: monospace;
  font-size: 20px;
  margin-bottom: 8%;
}

.right-column {
  float: right;
  width: 35%;
}

.side-card {
  font-size: 0.9em;
  background-color: #F5F5F5;
  border-radius: 10px;
  clear: both;
  padding: 10%;
  margin: 0 0 15% 15%;
}

.side-card > h4 {
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: lowercase;
  margin: 0 0 30px 0;
  font-weight: normal;;
  padding: 0;
  line-height: 1.1px;
}

.side-card a {
  color: black;
}

.side-card img {
  height: 100%;
  width: 100%;
}

.side-card span {
  color: #EE8C25;
  font-weight: bold;
}

#MT-coupon {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  padding: 13px;
  border-radius: 5px;
  font-size: 15px;
}

button {
  margin: 0 5px 0 0;
  border: 1px solid #D4D4D4;
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #444;
  line-height: 1.4em;
}

button:hover {
  background-color: #E5E5E4;
}

h2 {
  color: #222;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  line-height: 1.1;
  font-size: 2.2rem;
  letter-spacing: -1px;
}

.authored-by {
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 2px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.authored-by a {
  color: #3F91C9;
}

p a {
  color: #3F91C9;
}
